.column {
  width: 30vw;
  height: 80vh;
  border: 1px black solid;

  .tools {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .column_header {
      display: flex;

      .count {
        width: 2vw;
        height: 2vw;
        background: rgba(155, 141, 141, 0.459);
        text-align: center;
      }

      .title {
        margin-left: 1vw;
      }
    }
  }
}
